# macOS
.DS_Store
.localized

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
lib

# Data and outputs
data/
visualizations/
*.csv

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
